header{
    padding-top: 20px;
}
.header .head img{
    padding-left: 90px;
}
.header .head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: -49px 0; 
    padding-top: 20px;
}
.head ul{
    list-style: none;
    width: 50%;
    text-align: right;
    padding-right: 150px;
}
 .head  ul li{
    display: inline-block;
    margin: 0px 20px; 
    font-style: bold;
}
.head .btn{
    width: 180px;
    height: 50px;
    background: linear-gradient(90deg, #E65C00 0%, #F9D423 100%);
    border-radius: 40px;
    border: none;
    color: #fff;
}

.text .connect{
    padding-left: 90px;
    font-size: 52px;
    color: rgba(55, 56, 60, 1);

}
.smart{
    color: rgba(123, 126, 134, 1);
    padding-left: 90px;
}
.img{
    float: right;
    width: 937px;
    height: 654px;
    padding-bottom: 100px;
}
.bttn{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #00D2FF 0%, #3A7BD5 100%);
    color: #fff;
}